#root, body, html {
    height: 90%;
    margin: 0%;
}
/*body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/background.jpg); 
   background: url(./images/background.jpg); 
   background-size: cover;
}
*/